body{    
    /* background: linear-gradient(to bottom, #295089, #5e4c8e, #894385, #ab3b70, #be3d52); */
    background-size: cover;
    background-repeat: repeat-x;
    height: auto;
}
.kontainer{
    margin:0 5%;
    font-family: Helvetica;
}
.halo{
    color: white;
    font-family: Amandita;
    font-size: 36px;
}
.header{
    color:white;
    font-family: Amandita;
    font-size: 24px;
    padding: 0 20px;
}
.pic{
    width: 200px;
    height: 200px;
}
.border-light{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
    border-radius: 0;
}
.header-fg{
    background: rgb(255,255,255);
background: linear-gradient(60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 36%, rgba(255,255,255,0.1516981792717087) 100%);
    padding: 1ch 3ch 0;
}
.header-bg{
    background: #2b2b2b;
    color:white;
}
.icon{
    height:20px;
    padding:0 5px;
}
.footer{
    margin:0 auto;
    background: #2b2b2b;
    color:white;
    font-size: 1.5ch;
    padding: 1ch 0;
}
